.DS_Store
xcuserdata
xcworkspace
project.xcworkspace
bin/
build/
build-stage/
build-dev/
build-debug/
build-debug-stage/
build-debug-dev/
test-reports/
all-test-reports/
build-selector/
build-selector-debug/
build-
analysis.txt
compile_commands.json
DerivedData/
chat-iOScoverage.txt
common-iOScoverage.txt
oclintanalyze.log
coverage.txt
