//
//  xem-sdk.xcconfig
//  common
//
//  Created by Gábor Szajkó on 11/12/14.
//  Copyright (c) 2015 LogMeIn Inc.. All rights reserved.
//

OCMOCK_DIRECTORY = $(PROJECT_DIR)/../../lib/OCMock-3.4-1

HEADER_SEARCH_PATHS = $(inherited) . $(OCMOCK_DIRECTORY)
LIBRARY_SEARCH_PATHS = $(inherited) $(OCMOCK_DIRECTORY)

